{% extends 'base.html' %}
{% block title %}
高雄捷運介紹
{% endblock %}
{% block titlemessage %}
{% endblock %}
{% block content %}
{% load static %}
    <img class="w-100" height="450" src="{% static "988.png" %}" alt="">
    <div class="p-3 mb-2 bg-dark text-white"><h1>高雄捷運路線圖</h1></div>
    <div class=" px-4">
  <div class="row gx-5">
    <div class="col">
          <img class="rounded float-end""w-100" height="500" src="{% static "893.png" %}" alt="">
    </div>
    <div class="col">
      <div class="p-3 mb-2 bg-secondary text-white"><h2>輕軌第一階段目前試營運範圍C1籬仔內站至C14哈瑪
      星站，途中各站皆提供旅客上下車。未來搭乘資訊如有異動，請參閱本公司最新公告內容。
捷運紅線：R3小港、R4高雄國際機場、R4A草衙、R5前鎮高中(五甲)、R6凱旋、R7獅甲(勞工公園)、R8三多商圈、R9中
央公園、R11高雄車站、R12後驛(高醫大)、R13凹子底、R14巨蛋(三民家商)、R15生態園區、R16左營(高鐵)、R17世
運(國家體育園區)、R18油廠國小(中山大學附中)、R19楠梓加工區、R20後勁、R21都會公園、R22青埔、R22A橋頭糖廠、R23橋頭火車站、R24南岡山。
捷運橘線：O1西子灣(中山大學)、O2鹽埕埔、O4市議會(舊址)、R10/O5美麗島、O6信義國小、O7文化中心、O8五塊厝</h2></div>
    </div>
  </div>
</div>
    <div class="p-3 mb-2 bg-dark text-white"><h1>高雄捷運單程費用</h1></div>
    <div class=" px-4">
  <div class="row gx-5">
    <div class="col">
          <div class="p-3 mb-2 bg-info text-dark"><h2>高雄都會區大眾捷運系統，簡稱高雄捷運、高捷，為臺灣第二座
          投入營運的大眾捷運系統、首座機場聯絡軌道系統、首座輕軌運輸系統，以高雄市區為中心，並向高雄市的郊區
          提供服務，同時也是高雄國際機場的機場聯絡軌道系統，而計劃中的延伸路線亦涵蓋屏東縣、臺南市部分地區。
          高捷初期以地下路線為主，紅線的橋頭火車站到世運站間則是為高架段；至於紅線的南岡山站、橘線的大寮站則
          為平面路線，和新建的環狀輕軌相似。</h2></div>
    </div>
    <div class="col">
          <img class="rounded float-end""w-100" height="500" src="{% static "892.jpg" %}" alt="">
    </div>
  </div>
</div>
    <div class="p-3 mb-2 bg-dark text-white"><h1>高雄捷運單程速度</h1></div>
    <div class=" px-4">
  <div class="row gx-5">
    <div class="col">
          <img class="rounded float-end""w-100" height="500" src="{% static "891.jpg" %}" alt="">
    </div>
    <div class="col">
      <div class="p-3 mb-2 bg-secondary text-white"><h2>一、高雄市政府發布颱風停止上班上課期間，營運班距為20分鐘，不適用本時刻表。

二、特殊例假日期間(如：除夕、跨年……等)，本公司將視狀況調整營運班距，不適用本時刻表。

三、各欄位時間為列車預定發車時刻，實際情形視列車調度狀況而定，請提前2-3分鐘進站乘車。

四、以「紅色字體」標示者，表示搭乘該列車旅客，無法轉乘另一路線上行(往南岡山站、往大寮)列車；以「黃底」標示者，表示搭乘該列車旅客，無法轉乘另一路線下行(往小港、往西子灣)列車。</h2></div>
    </div>
  </div>
</div>
    <div class="p-3 mb-2 bg-dark text-white"><h1>補充</h1></div>
    <div class=" px-4">
  <div class="row gx-5">
    <div class="col">
          <div class="p-3 mb-2 bg-info text-dark"><h2>高雄都會區大眾捷運系統，簡稱高雄捷運、高捷，為臺灣第二座
          投入營運的大眾捷運系統、首座機場聯絡軌道系統、首座輕軌運輸系統，以高雄市區為中心，並向高雄市的郊區
          提供服務，同時也是高雄國際機場的機場聯絡軌道系統，而計劃中的延伸路線亦涵蓋屏東縣、臺南市部分地區。
          高捷初期以地下路線為主，紅線的橋頭火車站到世運站間則是為高架段；至於紅線的南岡山站、橘線的大寮站則
          為平面路線，和新建的環狀輕軌相似。</h2></div>
    </div>
    <div class="col">
          <img class="rounded float-end""w-100" height="500" src="{% static "890.jpg" %}" alt="">
    </div>
  </div>
</div>
{% endblock %}