{% extends 'base.html' %}
{% block title %}
新北捷運介紹
{% endblock %}
{% block titlemessage %}
{% endblock %}
{% block content %}
{% load static %}
    <img class="w-100" height="450" src="{% static "987.png" %}" alt="">
    <div class="p-3 mb-2 bg-dark text-white"><h1>新北捷運路線圖</h1></div>
    <div class=" px-4">
  <div class="row gx-5">
    <div class="col">
          <img class="rounded float-end""w-100" height="500" src="{% static "799.jpg" %}" alt="">
    </div>
    <div class="col">
      <div class="p-3 mb-2 bg-secondary text-white"><h2>新北環狀線路線自新店大坪林站以地下沿新店民權路
      過中正路後出土後續以高架沿中和景平路、中山路、板南路、板橋板新路、縣民大道至板橋火車站、文化路、民生路
      、新莊思源路、終於五工路（自新店線大坪林站交會站起至新莊新北產業園區段），共15.4公里，14車站(地下1站，
      高架13站，1座機廠(新店十四張農業區)，路線全落在新北市境內，其中起點大坪林站與新店線相接，十四張站是捷
      運安坑線的起站</h2></div>
    </div>
  </div>
</div>
    <div class="p-3 mb-2 bg-dark text-white"><h1>新北捷運單程費用</h1></div>
    <div class=" px-4">
  <div class="row gx-5">
    <div class="col">
          <div class="p-3 mb-2 bg-info text-dark"><h2>北捷官網公告，新北環狀線試營運期間，持電子票證搭乘
          捷運，由環狀線14個車站進、出站，皆為免費搭乘；單程票部分，基本里程5公里內20元，5公里至23公里每3公
          里加收5元，23公里至31公里每4公里加收5元，31公里以上則為65元。
舉例來說，若從環狀線景安站搭到幸福站，總距離為9.3公里，持電子票證搭乘免費，單程票價搭乘因距離介於8公里至11公里
，票價為30元。</h2></div>
    </div>
    <div class="col">
          <img class="rounded float-end""w-100" height="500" src="{% static "798.jpg" %}" alt="">
    </div>
  </div>
</div>
    <div class="p-3 mb-2 bg-dark text-white"><h1>新北捷運單程速度</h1></div>
    <div class=" px-4">
  <div class="row gx-5">
    <div class="col">
          <img class="rounded float-end""w-100" height="500" src="{% static "797.jpg" %}" alt="">
    </div>
    <div class="col">
      <div class="p-3 mb-2 bg-secondary text-white"><h2>營運模式：【新北產業園區－大坪林】
營運時間：06:00～24:00
平均班距：

平常日（週一至週五）
(1) 尖峰時段（07:00～09:00，17:00～19:30）：約4～7分鐘。
(2) 離峰時段：約5～10分鐘。
(3) 23:00以後：約12～15分鐘。
例假日（週六、週日及國定假日）
(1) 06:00～23:00：約5～10分鐘。
(2) 23:00以後：約12～15分鐘。
最後搭車時間：請參閱首末班車時間單元。
單向運行時間：約34分鐘。
停靠站時間：約20～50秒。</h2></div>
    </div>
  </div>
</div>
    <div class="p-3 mb-2 bg-dark text-white"><h1>補充</h1></div>
    <div class=" px-4">
  <div class="row gx-5">
    <div class="col">
          <div class="p-3 mb-2 bg-info text-dark"><h2>淡海輕軌，是台灣新北市營運中的輕軌路線[c]
          ，路線編碼為V，路線代表色為朱紅色[1]，是新北捷運的一部分，分有綠山線、藍海線及三芝延伸線等
          3條路線。淡海輕軌最早於1992年提出，現採高架、平面混合型式建置，路線主要行經新北市淡水區，並計劃延伸至三芝區。
由綠山線及藍海線部分路段組成的淡海輕軌第一階段路網主體工程於2014年11月23日開工，其中綠山線於2018年12
月23日通車，藍海線一期則於2020年11月15日通車[11]；由藍海線二期為主的第二階段路網則於2018年啟動興建、預計
於2023年完工。另三芝延伸線則仍在規畫階段。</h2></div>
    </div>
    <div class="col">
          <img class="rounded float-end""w-100" height="500" src="{% static "796.jpg" %}" alt="">
    </div>
  </div>
</div>
{% endblock %}