{% extends 'base.html' %}
{% block title %}
桃園機場捷運車型介紹
{% endblock %}
{% block titlemessage %}
    <h1>各種水上設施運動</h1>
{% endblock %}
{% block content %}
{% load static %}
    <img class="w-100" height="600" src="{% static "0.jpg" %}" alt="">
    <div class="p-3 mb-2 bg-dark text-white"><h1>桃園機場捷運車型介紹</h1></div>
<table class="table table-info">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">車型名稱</th>
      <th scope="col">介紹</th>
      <th scope="col">圖片</th>
      <th scope="col">維基百科</th>
      <th scope="col">建立日期</th>
    </tr>
  </thead>
  <tbody>
      <td>1</td>
      <td>1000型電聯車</td>
      <td>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          點我一下
        </button>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">1000型電聯車</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
桃園捷運1000型電聯車是一款屬於桃園捷運機場線的直流電聯車，名為普通車
桃園捷運機場線所使用的車輛為動力分散式的高運量電聯車，採用第三軌供電，並全線使用鋼輪，行駛於1,435公釐之標準軌。電聯車廂每側配有三組由iFE公司製造的對開滑塞式車門，全列車為一組四輛編成。車廂總長約為82米，由4節車廂所構成，全為旅客車廂，採縱向式座位安排，故站立的空間較多，每節車廂計有188個座位，由佳豐機械設計工業製作[6]，博愛座和普通座位相連接，以深紫色表示，每節車廂也設有行李架。

桃園捷運普通車由日本川崎重工業與台灣車輛技術轉移生產。台灣車輛參與1102/1402至1117/1417編組的生產，共64輛（16列），於2012年12月完工交車；1101/1401、1118/1418、1119/1419(直達車臨時編組)及1120/1420編組則由川崎生產（其中首列1101/1401編組於2011年7月29日發運、並於8月3日運抵台北港[7]，1118/1418編組2015年9月3日運抵台北港[8]。）

2018年7月，因部分直達車班次終點站南延往環北站，1119/1419編組普通車改裝為直達車使用[9][10]。

2020年3月，開放自行車搭機場捷運服務，除1119/1419為直達車臨時編組以外其餘19列均可開放從駕駛艙後方車門進出自行車，分別為第1節車廂(1100型)的1-1車門及第4節車廂(1400型)的4-3車門，每列車限載4輛自行車。[11]        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</td>
      <td>        
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
          想知道嗎
        </button>
                <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle1">1000型電聯車</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        {% load static %}
        <img class="w-100" height="300" src="{% static "l1.jpg" %}" alt="">
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</td>
      <td>        
<a href="https://zh.wikipedia.org/wiki/%E6%A1%83%E5%9C%92%E6%8D%B7%E9%81%8B1000%E5%9E%8B%E9%9B%BB%E8%81%AF%E8%BB%8A" type="button" class="btn btn-primary">讓我告訴你</a></td>
<td>2020年12月20日 07:15</td>
      <tr>
      <td>2</td>
      <td>2000型電聯車</td>
      <td>        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
          點我一下
        </button>
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle2">2000型電聯車</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
桃園捷運2000型電聯車是一款屬於桃園捷運機場線的直流電聯車，名為直達車
該型列車由川崎重工業製造，[1]車輛顏色以臺灣紫嘯鶇作為意象設計。[7]所有列車均採用全動力車（實心車卡）的方式以應付機場線頻繁的陡坡，採用第三軌供電，並全線使用鋼輪，行駛於1,435公釐之標準軌。電聯車廂每側配有3組由iFE公司製造的對開滑塞式車門，全列車為一組5輛編成。車廂總長約為102米，由4節旅客車廂及1節行李車廂所構成，採橫向式座位安排，故站立的空間較少，座位由佳豐機械設計工業製作[8]，椅背設有可折疊式小桌子。2011年8月、首列電聯車（2101/2501）運抵青埔機廠[9]。

2019年10月，因直達車座椅之椅套使用不敷，導致直達車之車廂有異味的問題，因此在2019年底開始，全面進行直達車座椅及椅套優化工程，由原本的淺紫色絨布質椅套（一般座）及深紫色絨布質椅套（博愛座）改為統一深紫色絨布質椅套附加機場捷運的軌鳥圖，座椅符合人體工學設計，此工程已於2020年3月改造完成。[10][11]
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</td>
      <td>        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter3">
          想知道嗎
        </button>
        <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle3">2000型電聯車</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        {% load static %}
        <img class="w-100" height="300" src="{% static "l2.jpg" %}" alt="">
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</td>
      <td>        
<a href="https://zh.wikipedia.org/wiki/%E6%A1%83%E5%9C%92%E6%8D%B7%E9%81%8B2000%E5%9E%8B%E9%9B%BB%E8%81%AF%E8%BB%8A" type="button" class="btn btn-primary">讓我告訴你</a></td>
</td>
<td>2020年12月21日 12:15</td>
  </tbody>
</table>
{% endblock %}