{% extends 'base.html' %}
{% block title %}
新北捷運車型介紹
{% endblock %}
{% block titlemessage %}
    <h1>各種水上設施運動</h1>
{% endblock %}
{% block content %}
{% load static %}
    <img class="w-100" height="800" src="{% static "996.jpg" %}" alt="">
    <div class="p-3 mb-2 bg-dark text-white"><h1>新北捷運車型介紹</h1></div>
<table class="table table-info">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">車型名稱</th>
      <th scope="col">介紹</th>
      <th scope="col">圖片</th>
      <th scope="col">維基百科</th>
      <th scope="col">建立日期</th>
    </tr>
  </thead>
  <tbody>
      <td>1</td>
      <td>三鶯線</td>
      <td>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          點我一下
        </button>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">三鶯線</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
三鶯線的歷史最早可追溯至2000年，臺北市政府捷運工程局基於鶯歌區及三峽區的民意於2000年3月啟動臺北捷運延伸三鶯地區[c]的初步研究工作，並於2002年2月首度提報中華民國交通部審查；然而在經過交通部的審查後，交通部建議以高運量大眾捷運系統型式優先辦理永寧站延伸至頂埔地區的工程[d]，另以中運量大眾捷運系統型式興建一條長11.9公里、設8站的捷運路線銜接鶯歌地區。[5]:1-1

根據交通部的建議，臺北市政府捷運工程局於2003年2月正式展開捷運三鶯線的研究作業，並於2005年1月完成環境影響評估、7月25日完成可行性研究報告，分別於3月25日函報行政院環境保護署及7月25日函報交通部審查；其後，環境影響評估於2006年11月20日獲行政院環境保護署同意備查，轉由新北市政府提報的可行性研究也於2012年9月3日獲行政院核定。[5]:1-1~1-2

在行政院核定三鶯線可行性研究的3個月後，新北市政府於2012年12月11日委託臺北市政府捷運工程局展開三鶯線的綜合規畫工作，並於2014年3月31日提報綜合規畫報告至交通部審查，於2015年6月2日獲得行政院正式核定。[5]:1-1~1-2

已獲得行政院核定的三鶯線起自頂埔站，迄於鶯歌區鶯桃路、福德一路口，全長14.29公里，設置共12站[6][7][8]。三鶯線的主體工程於2016年7月21日開工，新北市政府預估將於2023年底完工通車[9][10][11]。
馬特拉公司從最初至今所生產的鐵路製品全被當成西門子公司的產品，但因為包含《政府採購法》在內種種原因，無法提供全套的售後服務，僅能提供些許備料來做維修及保養。而內湖線僅能使用與龐巴迪號誌系統相容的電聯車，因此此款全數進入木柵機廠進行號誌系統改裝，才能在文湖線全線行駛。

原馬特拉VAL的號誌系統全部改為龐巴迪運輸的CITYFLO650號誌系統，臺北市政府捷運工程局要求龐巴迪公司加速完成改裝，必須於2010年2月14日改裝完畢。（原定於1月14日，但先前停駛進行文湖線網路系統優化時已經耗用太多時間，所以才延至2月14日。）

龐巴迪公司仍然無法在期限內依照合約完成VAL256電聯車的改裝，就是違約，台北市政府捷運工程局會進行罰款。改裝完成列車利用營運結束的30分鐘後進行三個半小時（凌晨0：30～4：00）的運轉測試，每週測試三次。

臺北市政府捷運工程局表示測試主要是為了測試列車的停準度以及穩定性，以免造成重新上線後發生事故，列車不會一次全部上線，而是分批上線，全部上線完畢將要花費1年至2年的時間。全51對改裝完成，雖通過系統安全驗證，但是未通過車輛與系統間整合驗證，無法正式加入營運。找出整合關鍵，解決停準度問題並完成改裝，交由臺北捷運公司實施營運演練。2010年12月26日重新上線，改裝共花費新台幣五億八千萬（580,000,000）元。

使用時期：1996年3月28日～2009年7月3日[2][3]、2010年12月26日至今
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</td>
      <td>        
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
          想知道嗎
        </button>
                <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle1">三鶯線</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        {% load static %}
        <img class="w-100" height="300" src="{% static "3333.jpg" %}" alt="">
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</td>
      <td>        
<a href="https://zh.wikipedia.org/wiki/%E6%96%B0%E5%8C%97%E6%8D%B7%E9%81%8B#%E4%B8%89%E9%B6%AF%E7%B7%9A" type="button" class="btn btn-primary">讓我告訴你</a></td>
<td>2020年12月05日 14:28</td>
      <tr>
      <td>2</td>
      <td>淡海輕軌</td>
      <td>        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
          點我一下
        </button>
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle2">淡海輕軌</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
配合淡海新市鎮計畫，臺北市政府捷運工程局於1992年11月完成《淡海輕軌可行性研究報告》，否決了自臺北捷運淡水線淡水站以高運量大眾捷運系統延伸的構想，而建議以中運量大眾捷運系統型式自紅樹林站將捷運延伸至淡海地區。1999年6月11日，臺北市政府捷運工程局首度將以中運量大眾捷運系統延伸的構想函送交通部審查；然而，交通部於2002年5月27日函覆指出「以目前政府財政狀況，對編列龐大經費興建供給導向捷運系統之迫切性，尚待研議。建議短期內以加強運用公車接駁營運方式，以密集提供新市鎮與淡水捷運站之旅運服務為優先考量。」而未核定該線的興建。[12]:1-1

直至2005年淡海輕軌的規畫作業才重新展開。2005年6月22日，中華民國內政部以「研商淡海新市鎮輕軌捷運系統規劃建設事宜」為主旨召開會議，會議做成以輕軌運輸系統型式重新推動淡海輕軌的決議，獲得行政院指示全案「依大眾捷運法辦理」，隨後委託交通部的協助下，行政院經濟建設委員會於2006年指定編列800萬的預算補助交通部高速鐵路工程局辦理淡海輕軌的可行性研究作業，最後於2007年10月完成淡海輕軌可行性研究，由交通部高速鐵路工程局報請行政院核定，而後獲得行政院於2010年6月8日核定。[12]:1-1~1-2

在行政院核定可行性研究後，交通部高速鐵路工程局隨即於同年展開淡海線的環境影響評估及綜合規畫作業，於2012年12月7日獲行政院環境保護署備查環境影響說明書、2013年2月25日獲行政院核定綜合規畫。而其中淡海輕軌的正式名稱也自2007年12月的「淡海輕軌延伸線」，於2012年12月11日再度更名為「淡海輕軌運輸系統」。[12]:1-2

已獲得行政院核定的淡海輕軌，第一期路網主要分為綠山線及藍海線兩條路線，全長9.55公里，設置共14站；第二期路網則為藍海線的延伸，長4.44公里，設置6站。淡海輕軌第一期路網的主體工程於2014年11月23日開工，其中綠山線部分於2018年12月23日正式通車[13][14][15][16][3]，2019年2月1日起正式收費，正式收費期間全面折扣5元，基本票價由原20元減至15元起跳，營運時間也延長從上午6時到晚上12時[17]。

藍海線第一期則於2020年11月15日下午兩點正式營運[18]。        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</td>
      <td>        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter3">
          想知道嗎
        </button>
        <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle3">淡海輕軌</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        {% load static %}
        <img class="w-100" height="300" src="{% static "2222.jpg" %}" alt="">
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</td>
      <td>        
<a href="https://zh.wikipedia.org/wiki/%E6%96%B0%E5%8C%97%E6%8D%B7%E9%81%8B#%E6%B7%A1%E6%B5%B7%E8%BC%95%E8%BB%8C" type="button" class="btn btn-primary">讓我告訴你</a></td>
</td>
<td>2020年12月10日 01:25</td>
      <tr>
      <td>3</td>
      <td>安坑輕軌</td>
      <td>        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter4">
          點我一下
        </button>
        <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle4" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle4">安坑輕軌</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
安坑地區興建大眾捷運系統的構想最早在臺北捷運初期路網建設時期就已被提出。臺北捷運初期路網建設時期，新店機廠設於新店區中央新村的規畫遭到新店居民的反彈，提議將新店機廠的預定地改於安坑，同時使捷運延伸安坑地區服務當地居民；然而經評估後臺北市政府捷運工程局認為此方案未臻理想而被否決。[19]:1-1

考量安坑地區的發展，臺北市政府捷運工程局後續重新檢討捷運延伸安坑地區的可行性，於1992年1月9日以「捷運路線延伸安坑地區檢討新店機廠及中和機廠設計問題研商會議」為名研商捷運延伸安坑地區議題；然而，除會議結論為透過新店機廠延伸不可行外，1992年7月台北市政府捷運工程局所完成的「捷運系統延伸至安坑地區可行性研究報告」抑指出透過高運量大眾捷運系統將捷運延伸至安坑地區在經濟及財務效益上均不可行，興建捷運條件尚未成熟。[19]:1-1

直至1999年，在民意代表的壓力及人口成長考量下，臺北市政府捷運工程局才於1999年9月重新開展「捷運安坑線走廊研究規劃工作」，最後結論若以部分高架、部分地下形式，採取輕軌運輸系統興建則具備興建安坑線的可行性[19]:1-1；其後，安坑線的可行性研究報告於2002年3月展開審查，並於2013年7月1日正式核定，環境影響評估抑於2003年10月14日獲行政院環境保護署備查。[19]:1-2

在可行性研究報告獲得行政院核定後，新北市政府據此開展綜合規畫作業，獲行政院於2015年6月8日正式核定綜合規畫報告，確定了安坑線的興建[19]:1-2[20]。安坑線全長7.5公里，設置9座車站，目前主體工程已於2016年4月6日開工，新北市政府預計將於2021年底完工通車[21][22][23][24]。        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</td>
      <td>        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter5">
          想知道嗎
        </button>
        <div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle5" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle5">安坑輕軌</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        {% load static %}
        <img class="w-100" height="300" src="{% static "4444.jpg" %}" alt="">
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</td>
      <td>        
<a href="https://zh.wikipedia.org/wiki/%E6%96%B0%E5%8C%97%E6%8D%B7%E9%81%8B#%E5%AE%89%E5%9D%91%E8%BC%95%E8%BB%8C" type="button" class="btn btn-primary">讓我告訴你</a></td>
</td>
<td>2020年12月19日 21:15</td>
  </tbody>
</table>
{% endblock %}