{% extends 'base.html' %}
{% block title %}
高雄捷運車型介紹
{% endblock %}
{% block titlemessage %}
    <h1>各種水上設施運動</h1>
{% endblock %}
{% block content %}
{% load static %}
    <img class="w-100" height="600" src="{% static "999.png" %}" alt="">
    <div class="p-3 mb-2 bg-dark text-white"><h1>高雄捷運車型介紹</h1></div>
<table class="table table-info">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">車型名稱</th>
      <th scope="col">介紹</th>
      <th scope="col">圖片</th>
      <th scope="col">維基百科</th>
      <th scope="col">建立日期</th>
    </tr>
  </thead>
  <tbody>
      <td>1</td>
      <td>高雄捷運環狀輕軌CAF Urbos 3系電聯車</td>
      <td>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          點我一下
        </button>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">高雄捷運環狀輕軌CAF Urbos 3系電聯車</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
本型車於高雄捷運環狀輕軌行駛的動力分散式電聯車，採超級電容電池供給方式推進，全線使用鋼輪鋼軌，駛於1,435公厘之標準軌，且軌道和台鐵工字形軌道不同。高雄輕軌為全球第一個採全線無架空線的輕軌系統。由西班牙CAF公司組裝製造，總造價新台幣165.37億元。首列列車自2014年9月運抵臺灣，第一階段將計有9列列車，第二階段全線完工預計將共有24列列車。車輛總長（一組五節）34.16公尺，車寬2.65公尺，每側配有四組對開滑門，營運初期的運量考量，全列車為一組5輛編成，並預留未來一組7輛編成的擴充性，未來將視運量增長情形，再決定是否增節至一組七節的編制。        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</td>
      <td>        
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
          想知道嗎
        </button>
                <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle1">高雄捷運環狀輕軌CAF Urbos 3系電聯車</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        {% load static %}
        <img class="w-100" height="300" src="{% static "s3.jpg" %}" alt="">
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</td>
      <td>        
<a href="https://zh.wikipedia.org/wiki/%E9%AB%98%E9%9B%84%E6%8D%B7%E9%81%8B%E5%88%97%E8%BB%8A#%E9%AB%98%E9%9B%84%E6%8D%B7%E9%81%8B%E7%92%B0%E7%8B%80%E8%BC%95%E8%BB%8CCAF_Urbos_3%E7%B3%BB%E9%9B%BB%E8%81%AF%E8%BB%8A" type="button" class="btn btn-primary">讓我告訴你</a></td>
<td>2020年12月13日 23:15</td>
      <tr>
      <td>2</td>
      <td>高雄捷運環狀輕軌Citadis X-05 305系電聯車</td>
      <td>        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
          點我一下
        </button>
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle2">高雄捷運環狀輕軌Citadis X-05 305系電聯車</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
於高雄捷運環狀輕軌上營運的動力分散式電聯車，是法國阿爾斯通生產的Citadis X-05系列車輛，首列列車於2018年9月5日運抵高雄前鎮機廠，並於同月27日於C15到C17站的路段，開始上線行車測試。2020年11月2日開始於籬仔內(C1)站～哈瑪星(C14)站路段上線營運[4]，為臺灣繼台北捷運VAL256型電聯車之後再度購入由法國製造的列車。        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</td>
      <td>        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter3">
          想知道嗎
        </button>
        <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle3">高雄捷運環狀輕軌Citadis X-05 305系電聯車</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        {% load static %}
        <img class="w-100" height="300" src="{% static "s5.jpg" %}" alt="">
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</td>
      <td>        
<a href="https://zh.wikipedia.org/wiki/%E9%AB%98%E9%9B%84%E6%8D%B7%E9%81%8B%E5%88%97%E8%BB%8A#%E9%AB%98%E9%9B%84%E6%8D%B7%E9%81%8B%E7%92%B0%E7%8B%80%E8%BC%95%E8%BB%8CCitadis_X-05_305%E7%B3%BB%E9%9B%BB%E8%81%AF%E8%BB%8A" type="button" class="btn btn-primary">讓我告訴你</a></td>
</td>
<td>2020年12月12日 12:05</td>
  </tbody>
</table>
{% endblock %}