{% extends 'base.html' %}
{% block title %}
台北捷運介紹
{% endblock %}
{% block titlemessage %}
{% endblock %}
{% block content %}
{% load static %}
    <img class="w-100" height="450" src="{% static "989.jpg" %}" alt="">
    <div class="p-3 mb-2 bg-dark text-white"><h1>台北捷運路線圖</h1></div>
    <div class=" px-4">
  <div class="row gx-5">
    <div class="col">
          <img class="rounded float-end""w-100" height="500" src="{% static "899.png" %}" alt="">
    </div>
    <div class="col">
      <div class="p-3 mb-2 bg-secondary text-white"><h2>捷運路線圖有六種路線，分別為棕色文湖線，紅色淡水
      信義線，綠色松山新店線，橘色中和板橋線，藍色板橋線，及黃色環狀線，結構以環繞市中心為開發，每個路線的捷運
      終點站都不一樣，最遠到淡水、迴龍、板橋、動物園、南港站覽館，台北捷運是最早開發捷運的地方，故他的路線很多種，
      方便改善台北的人交通，淡水信義線有兩種營運模式，分別是「淡水 – 象山」全程車與「北投 – 大安」區間車。另外，
      新北投站屬於淡水信義線的支線，要到新北投需要在北投站轉乘新北投支線列車。</h2></div>
    </div>
  </div>
</div>
    <div class="p-3 mb-2 bg-dark text-white"><h1>台北捷運單程費用</h1></div>
    <div class=" px-4">
  <div class="row gx-5">
    <div class="col">
          <div class="p-3 mb-2 bg-info text-dark"><h2>依照旅客所搭乘的最短里程長度來計算。
          票價最低下限為20元，最高上限為65元，並以5為單位。身高未滿115公分或是6歲以下之孩童可免費
          搭乘，但須有成人陪伴。單程票：僅限購票當日使用。單程票在每一個捷運車站均有設自動售票機，
          因此單程票是由自動售票機販售。單程票票價一律以全票金額計，進站時，由機器自動感應，出站時回
          收。中途出站，不退差價，愈站乘車者，需補差價。單程票在每一車站均有設置自動售票機系統。</h2></div>
    </div>
    <div class="col">
          <img class="rounded float-end""w-100" height="500" src="{% static "897.png" %}" alt="">
    </div>
  </div>
</div>
    <div class="p-3 mb-2 bg-dark text-white"><h1>台北捷運單程速度</h1></div>
    <div class=" px-4">
  <div class="row gx-5">
    <div class="col">
          <img class="rounded float-end""w-100" height="500" src="{% static "894.jpg" %}" alt="">
    </div>
    <div class="col">
      <div class="p-3 mb-2 bg-secondary text-white"><h2>「淡水--新店」線尖峰時段6分鐘一班車（例假日尖
      峰時段為7分鐘一班車），次尖峰時段約7分鐘一班車，離峰時段約8分鐘一班車。23:00後，約12分鐘一班車。
「北投--象山」線尖峰時段6分鐘一班車（例假日尖峰時段為7分鐘一班車），次尖峰時段約7分鐘一班車，離峰時段約8分
鐘一班車。另外每日23:00以後，「北投--象山」營運模式變更為「台北車站--象山」，約12分鐘一班車。
中間重疊段「北投--中正紀念堂」尖峰時段3分鐘一班車（例假日尖峰時段為3.5分鐘一班車）
</h2></div>
    </div>
  </div>
</div>
    <div class="p-3 mb-2 bg-dark text-white"><h1>補充</h1></div>
    <div class=" px-4">
  <div class="row gx-5">
    <div class="col">
          <div class="p-3 mb-2 bg-info text-dark"><h2>不少月票捷運族十分困惑，究竟該繼續買1,280
          元月票，還是改用計次優惠的捷運常客制比較划算？ 由於捷運局統計，67%乘客每月搭乘次數不超過30
          次 ，也就是說，這群人不是天天利用捷運上班及返家，因此這些人幾乎不在月票族群內。再來討論剩下3成
          乘客，由於他們幾乎每天靠捷運通勤，是最容易困惑是否要放棄月票的乘客。若以一個月搭44趟（22個工作
          天，上下班各一趟計算）來說，新制度可以享受75折優惠。</h2></div>
    </div>
    <div class="col">
          <img class="rounded float-end""w-100" height="500" src="{% static "896.jpg" %}" alt="">
    </div>
  </div>
</div>
{% endblock %}