{% extends 'base.html' %}
{% block title %}
桃園機場捷運介紹
{% endblock %}
{% block titlemessage %}
{% endblock %}
{% block content %}
{% load static %}
    <img class="w-100" height="450" src="{% static "895.jpg" %}" alt="">
    <div class="p-3 mb-2 bg-dark text-white"><h1>桃園機場捷運路線圖</h1></div>
    <div class=" px-4">
  <div class="row gx-5">
    <div class="col">
          <img class="rounded float-end""w-100" height="500" src="{% static "699.jpg" %}" alt="">
    </div>
    <div class="col">
      <div class="p-3 mb-2 bg-secondary text-white"><h2>桃園機場捷運，通稱為機場捷運、機捷、機場線[b]
      ，是一條橫跨臺灣臺北市、新北市、桃園市的捷運路線，也是桃園捷運首條營運路線，總工程經費接近新台幣1200
      億元[4]，由中華民國政府全額出資興建[5]，為臺灣第一個以提供機場聯外交通為主要目的之捷運線、以及第一條
      有跳站停靠之營運模式的捷運線，不僅服務臺灣桃園國際機場之聯外交通，也兼具區域鐵路的運輸功能。營運長度51
      .03公里，為全台最長的捷運線。2017年2月2日接受團體搭乘，在2月16日開放給民眾試乘，3月2日正式營運。站區
      及車廂內設有中華電信Wi-Fi。</h2></div>
    </div>
  </div>
</div>
    <div class="p-3 mb-2 bg-dark text-white"><h1>桃園機場捷運單程費用</h1></div>
    <div class=" px-4">
  <div class="row gx-5">
    <div class="col">
          <div class="p-3 mb-2 bg-info text-dark"><h2>單程優待票：本國籍65歲以上民眾、領有身心障礙證明（
          手冊）人士及其陪伴者一名，出示有效身分證件或身心障礙證明，折扣為5折（未滿1元一律進位，例：25元打5折
          後為13元）。
兒童票：本國籍滿6歲以上、未滿12歲民眾，出示有效身分證件（含健保卡、護照等），折扣為8折。
團體票：10人以上，折扣為8折。
定期票 [45]：
月票，折扣為7折，計算方式為42趟（一日往返兩趟，計價21日），有效期限為30日。
雙月票，折扣為6.5折，計算方式為84趟（一日往返兩趟，計價42日），有效期限為60日。
一日票：320元／張，啟用當日於營運結束前可不限次數搭乘，買斷制
</h2></div>
    </div>
    <div class="col">
          <img class="rounded float-end""w-100" height="500" src="{% static "898.jpg" %}" alt="">
    </div>
  </div>
</div>
    <div class="p-3 mb-2 bg-dark text-white"><h1>桃園機場捷運單程速度</h1></div>
    <div class=" px-4">
  <div class="row gx-5">
    <div class="col">
          <img class="rounded float-end""w-100" height="500" src="{% static "698.png" %}" alt="">
    </div>
    <div class="col">
      <div class="p-3 mb-2 bg-secondary text-white"><h2>使用說明：
00加底線 -直達車(停靠A1、A3、A8、A12、A13)
00加星號 -尖峰增停直達車(停靠A1、A3、A8、A12、A13、A18、A21)
00一般 - 普通車(每站停靠)
00加三角 - 增開往機場服務班次(A1→A13；A21→A12，目的地機場，每站停靠之普通車)
本公司時刻表僅供參考，實際到站時間仍應視當日列車運行狀況而定，請乘車前往機場及轉乘站之旅客自行評估並預留緩衝時
間。依桃園國際機場公告，旅客應於航班起飛前2-3個小時，向所搭乘之航空公司報到櫃台辦理完成報到手續。</h2></div>
    </div>
  </div>
</div>
    <div class="p-3 mb-2 bg-dark text-white"><h1>補充</h1></div>
    <div class=" px-4">
  <div class="row gx-5">
    <div class="col">
          <div class="p-3 mb-2 bg-info text-dark"><h2>紫色為直達車的代表色，前端頭燈及尾燈的外殼漆成黑色
          ，在前端罩板形成強烈對比，前端罩板的紫色部分持續延伸至車輛兩側，而上方飾條紫色逐漸淡化，如此行車時
          就能在列車的周圍形成流線型的印象。直達車兩側飾條為紫色，並印有「EXPRESS直達車」字樣，以便旅客更容
          易識別直達車。
直達車由五節車廂所構成，其中四節車廂為旅客車廂，一節車廂為行李車廂，總長約為102公尺，座位採用橫向式設計，並於
每個座椅把手貼心設置了5V的USB充電孔，提供旅客為3C產品充電，座椅下方設有空間可以放置小型行李，座位旁則附有握手
供站立乘客方便乘車。每車廂前後採對稱方式設置顯示器，以利旅客觀看飛航資訊、宣導短片及廣告等；並於每節車廂設有行
李架，提供國內外旅客放置大型行李。</h2></div>
    </div>
    <div class="col">
          <img class="rounded float-end""w-100" height="500" src="{% static "697.jpg" %}" alt="">
    </div>
  </div>
</div>
{% endblock %}